$background-color: #ffffff;
$accent-color: #5B8CF5;
$substrate-color: #F8F8F8;
$substrate-color-hover: #ebebeb;
$footer-bottom-color: #545454;

$accent-color-hover: #4A7BC2;

$text-color-dark: #000000;
$text-color-light: #ffffff;
$text-color-accent: #5B8CF5;
$text-color-dim: #BDBDBD;