@use 'globals/variables' as *;

.projects {
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 15px;
  }

  &__title {
    text-align: center;
  }

  &__description {
    display: none;

    @media (min-width: 1024px) {
      display: block;
      text-align: center;
      max-width: 700px;
    }

  }

  .projects-swiper-container {
    width: 100%;
    max-width: 1150px;

    .projectsSwiper {
      width: 100%;
      padding-block: 50px;

      .projectsSwiper-wrapper {
        display: flex;
      }

      .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .swiper-pagination {
      text-align: center;
      margin-top: 20px;
    }

    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      background: #ccc;
      opacity: 1;

      &-active {
        background: $accent-color;
      }
    }
  }
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr); // Планшеты (768–1023px): 2 колонки
    grid-template-rows: repeat(2, auto);   // 4 карточки в слайде (2x2)
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr); // Десктопы: 3 колонки
    grid-template-rows: repeat(2, auto);   // 6 карточек в слайде (3x2)
  }
}


.project-card {
  background: #fff;
  padding: 15px;
  border-radius: 12px;
  text-align: center;
  display: flex;
  flex-direction: column;

  &__image-wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 10px;
  }

  &__img {
    aspect-ratio: 1/1;
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    transition: opacity 0.3s ease;
    padding: 20px;
  }

  &__stack {
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    padding: 8px 16px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 6px;
  }

  &__image-wrapper:hover .project-card__overlay {
    opacity: 1;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
  }
}
